<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>fileName</key><string>blind-change-1</string>
            <key>soundName</key><string>Airport</string>
        </dict>
        <dict>
            <key>fileName</key><string>blind-change-2</string>
            <key>soundName</key><string>Future</string>
        </dict>
        <dict>
            <key>fileName</key><string>blind-change-3</string>
            <key>soundName</key><string>Ufo</string>
        </dict>
        <dict>
            <key>fileName</key><string>blind-change-4</string>
            <key>soundName</key><string>Chord</string>
        </dict>
        <dict>
            <key>fileName</key><string>blind-change-5</string>
            <key>soundName</key><string>Alarm</string>
        </dict>
        <dict>
            <key>fileName</key><string>blind-change-6</string>
            <key>soundName</key><string>Sirene</string>
        </dict>
        <dict>
            <key>fileName</key><string>blind-change-7</string>
            <key>soundName</key><string>Awesome</string>
        </dict>
        <dict>
            <key>fileName</key><string>blind-change-8</string>
            <key>soundName</key><string>Echo</string>
        </dict>
        <dict>
            <key>fileName</key><string>blind-change-9</string>
            <key>soundName</key><string>Alien</string>
        </dict>
        <dict>
            <key>fileName</key><string>blind-change-10</string>
            <key>soundName</key><string>Scanner</string>
        </dict>
        <dict>
            <key>fileName</key><string>blind-change-11</string>
            <key>soundName</key><string>Cosmic</string>
        </dict>
        <dict>
            <key>fileName</key><string>blind-change-12</string>
            <key>soundName</key><string>Horn</string>
        </dict>
        <dict>
            <key>fileName</key><string>blind-change-13</string>
            <key>soundName</key><string>Railroad</string>
        </dict>
    </array>
</plist>
