<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fileName</key><string>minute-alert-1</string>
		<key>soundName</key><string>Morse</string>
	</dict>
	<dict>
		<key>fileName</key><string>minute-alert-2</string>
		<key>soundName</key><string>Xilofone</string>
	</dict>
	<dict>
		<key>fileName</key><string>minute-alert-3</string>
		<key>soundName</key><string>Fun</string>
	</dict>
	<dict>
		<key>fileName</key><string>minute-alert-4</string>
		<key>soundName</key><string>Fasting</string>
    </dict>
    <dict>
        <key>fileName</key><string>minute-alert-5</string>
        <key>soundName</key><string>Modem</string>
    </dict>
    <dict>
        <key>fileName</key><string>minute-alert-6</string>
        <key>soundName</key><string>Twinkle</string>
    </dict>
    <dict>
        <key>fileName</key><string>minute-alert-7</string>
        <key>soundName</key><string>Pager</string>
    </dict>
    <dict>
        <key>fileName</key><string>minute-alert-8</string>
        <key>soundName</key><string>Chords</string>
    </dict>
    <dict>
        <key>fileName</key><string>minute-alert-9</string>
        <key>soundName</key><string>Ship bell</string>
    </dict>
    <dict>
        <key>fileName</key><string>minute-alert-10</string>
        <key>soundName</key><string>Mania</string>
    </dict>
</array>
</plist>
