<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fileName</key><string>first-ante-1</string>
		<key>soundName</key><string>Pulse</string>
	</dict>
	<dict>
		<key>fileName</key><string>first-ante-2</string>
		<key>soundName</key><string>Bell</string>
	</dict>
	<dict>
		<key>fileName</key><string>first-ante-3</string>
		<key>soundName</key><string>Science</string>
    </dict>
    <dict>
        <key>fileName</key><string>first-ante-4</string>
        <key>soundName</key><string>Pitch</string>
    </dict>
    <dict>
        <key>fileName</key><string>first-ante-5</string>
        <key>soundName</key><string>Game</string>
    </dict>
    <dict>
        <key>fileName</key><string>first-ante-6</string>
        <key>soundName</key><string>Woop Woop</string>
    </dict>
	<dict>
		<key>fileName</key><string></string>
		<key>soundName</key><string>Disabled</string>
	</dict>
</array>
</plist>
